.wrapper {
  position: relative;
  width: 100%;
  height: 316px;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.img {
  position: absolute;
  z-index: -1;
  width: 100%;

  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

