@use "../../../shared/ui/variables.module" as vars;

.footer {
  width: 100%;
  max-width: vars.$max-content-width ;
  padding-left: vars.$gap-mobile;
  padding-right: vars.$gap-mobile;
  box-sizing: border-box;

  @media screen and (min-width: vars.$breakpoint-desktop){
    padding-left: vars.$gap-desktop;
    padding-right: vars.$gap-desktop;
  }
}

.top-content {
  @media screen and (min-width: vars.$breakpoint-tablet){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }

}

.bottom-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid vars.$color-border;
  font-size: 1rem;


}

.section {
  margin-bottom: 2rem;
}

.header {

  @media screen and (min-width: vars.$breakpoint-tablet) {
    margin-bottom: 3rem;
  }
}

.content-header {
  font-size: 1rem;
  color: vars.$color-text-secondary;
  font-weight: 400;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 1rem;
    margin-top: 1rem;

    @media screen and (min-width: vars.$breakpoint-tablet) {
      margin-top: 2rem;
    }
  }
}