@use "../variables.module" as vars;

.buttonLink {
	// Base button styles
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 24px;
	font-size: 1rem;
	cursor: pointer;
	box-sizing: border-box;
	text-decoration: none; // Remove underline from the link
	transition:
		background-color 0.2s ease-in-out,
		opacity 0.2s ease-in-out;

	// "Filled" styles
	background-color: vars.$color-golden;
	color: vars.$color-bg-white;
	border: 1px solid vars.$color-golden; // Use golden color for border
	border-radius: 0;

	&:hover {
		opacity: 0.8;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px rgba(184, 142, 47, 0.4);
	}
}
