@use "../../../../shared/ui/variables.module" as vars;

.filter-container {
  width: 100%;
  padding: 2rem;
  background-color: vars.$color-golden-light;
  border-top: 1px solid vars.$color-border;
  border-bottom: 1px solid vars.$color-border;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.name-block {
  width: 100%;
  max-width: 400px;
}

.filter-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    grid-template-areas: "categories sizes colors"
                          "price status";
    grid-template-columns: 2fr 1fr 1fr;
  }
  @media screen and (min-width: vars.$breakpoint-desktop) {
    grid-template-areas: "categories sizes colors price status";
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;

    .categories {
      grid-area: categories;
    }
    .sizes {
      grid-area: sizes;
    }
    .colors {
      grid-area: colors;
    }
    .price {
      grid-area: price;
    }
    .status {
      grid-area: status;
    }
  }
}



.filter-block {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.legend {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: vars.$color-text-primary;
}

.price-inputs {
  display: flex;
  gap: 1rem;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
  gap: 0.75rem;
}

.color-label {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid vars.$color-border;
}
