@use "../../shared/ui/variables.module" as vars;

.newsletter {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@media screen and (min-width: vars.$breakpoint-desktop) {
		flex-direction: row;
		align-items: flex-start;
		gap: 0;
	}
}

.emailInput {
	input {
		border: none;
		border-bottom: 1px solid vars.$color-primary;
		border-radius: 0;
		padding: 5px 0;
		background-color: transparent;

		&:focus {
			border-color: vars.$color-primary;
			box-shadow: none;
		}

		&.inputError {
			border-color: vars.$color-error;
			&:focus {
				border-color: vars.$color-error;
			}
		}
	}

	.labelText {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	@media screen and (min-width: vars.$breakpoint-tablet) {
		flex-grow: 1;
		margin-right: 16px;
	}
}

.subscribeButton {
	@media screen and (min-width: vars.$breakpoint-desktop) {
		margin-top: 17px;
	}
}

.submissionMessage {
	font-size: 0.9rem;
	margin-top: 8px;
	padding: 8px 12px;
	border-radius: 4px;
	text-align: center;

	&.success {
		background-color: vars.$color-success-light;
		color: vars.$color-success;
	}

	&.error {
		background-color: vars.$color-error-light;
		color: vars.$color-error;
	}
}
