@use "../variables.module.scss" as vars;

.wrapper {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  @media screen and (min-width: vars.$breakpoint-tablet) {
    grid-template-rows: 100px auto 100px;
  }
}

.header {
  background: aqua;
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  border-top: 1px solid vars.$color-border
}

.information {
  background: green;
}

.content {

}

.cart {
  display: none;
}

.errors {
  display: none;
}
