@use "../../../shared/ui/variables.module" as vars;

.header {
  width: 100%;
  max-width: vars.$max-content-width ;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 2;

  @media screen and (min-width: vars.$breakpoint-desktop){
    background: vars.$color-bg-white;
    justify-content: flex-start;
    align-items: center;
    padding-left: vars.$gap-desktop;
    padding-right: vars.$gap-desktop;
    box-sizing: border-box;
  }
}

.logo-block {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: vars.$vertical-gap-mobile vars.$gap-mobile vars.$vertical-gap-mobile vars.$gap-mobile;
  box-sizing: border-box;
  background: vars.$color-bg-white;
  box-shadow: 1px 1px 1px vars.$color-border;

  @media screen and (min-width: vars.$breakpoint-desktop){
    width: auto;
    box-shadow: none;
    background: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.nav {
  position: absolute;
  width: 50vw;
  background: vars.$color-bg-white;
  right: 0;
  top: 100%;
  box-shadow: 0 2px 10px 5px rgba(0,0,0,0.1);
  z-index: -1;
  transition: transform 0.5s ease-in-out;
  transform: translateY(0);

  &.hidden {
    transform: translateY(-150%);
  }

  @media screen and (min-width: vars.$breakpoint-desktop){
    position: relative;
    transform: none;
    z-index: initial;
    box-shadow: none;
    width: auto;
    top: initial;
    right: initial;
    flex-grow: 1;

    &.hidden {
      transform: none;
    }
  }

}


.homeLink {
  display: flex;
  height: 100%;
  width: 20px;
  align-items: center;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    width: auto;
  }
}

.home {
  font-size: 1.5rem;
  font-weight: bold;
  display: none;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    display: inline-block;
  }
}

.icon {
  width: 25px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    width: 50px;
  }
}

.menu-button {
  width: 20px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;

  @media screen and (min-width: vars.$breakpoint-desktop){
    display: none;
  }
}

