@use "../../shared/ui/variables.module" as vars;
.wrapper {
  position: relative;
}
.list {
  padding: 0;
  margin: 0;
}

.item {
  list-style: none;
}

.icon {
  width: 16px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    width: 28px;
  }
}

.menu {
  display: grid;
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  box-sizing: border-box;
  grid-template-areas:
    "personal"
    "sections";

  @media screen and (min-width: vars.$breakpoint-desktop) {
    width: auto;
    grid-template-areas: "sections personal";
    grid-template-columns: 70% 20%;
    column-gap: 10%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.personalList {
  display: flex;
  justify-content: space-between;
  grid-area: personal;
}

.sectionList {
  grid-area: sections;

  @media screen and (min-width: vars.$breakpoint-desktop) {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
  }
}
.section-item{
  list-style: none;
  margin: 0.5rem 0;
}
