@use "../../shared/ui/variables.module" as vars;
.wrapper {
  position: relative;
}
.list {
  padding: 0;
  margin: 0;
}

.item {
  list-style: none;
}

.icon {
  width: 16px;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    width: 28px;
  }
}

.menu {
  display: grid;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  grid-template-areas:
    "personal"
    "sections";
}

.personalList {
  display: flex;
  justify-content: space-between;
  grid-area: personal;
}

.sectionList {
  grid-area: sections;
}
.section-item{
  list-style: none;
  margin: 0.5rem 0;
}
