$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1600px;

$max-content-width: 1260px;

$gap-mobile: 2rem;
$gap-tablet: 1rem;
$gap-desktop: 1rem;

$vertical-gap-mobile: 1rem;

$color-border: rgba(0, 0, 0, 0.17);
$color-primary: #000;
$color-text-main: #000;
$color-text-primary: #3a3a3a;
$color-text-secondary: #9f9f9f;
$color-text-light: #fff;
$color-bg-white: #fff;
$color-golden: #b88e2f;
$color-golden-shadow: rgba(184, 142, 47, 0.2);
$color-golden-light: #fff3e3;

$color-error: #d73a49;
$color-error-light: #ffe6e6;
$color-error-shadow: rgba(215, 58, 73, 0.2);
$color-success: #28a745;
$color-success-light: #e6ffe6;
