@use "../../shared/ui/variables.module" as vars;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}

.pageNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.navButton {
  padding: 8px;
  @media screen and (min-width: vars.$breakpoint-desktop) {
    padding: 1rem 2rem;
  }

  &.prev {
    padding: 8px 0;
    left: 0;

    @media screen and (min-width: vars.$breakpoint-desktop) {
      padding: 1rem 2rem;
    }
  }

  &.next {
    padding: 8px 0;
    right: 0;

    @media screen and (min-width: vars.$breakpoint-desktop) {
      padding: 1rem 2rem;
    }
  }
}

.text {
  display: none;
  @media screen and (min-width: vars.$breakpoint-desktop) {
    display: inline;
  }

}

.arrow {
  margin: 0 0.75rem;
  color: vars.$color-text-primary;
  width: 12px;
  height: 12px;
  stroke-width: 2.5px;

  &.prev {
    transform: rotate(180deg);
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    display: none;
  }
}