@use "../../shared/ui/variables.module.scss" as vars;

.wrapper {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  @media screen and (min-width: vars.$breakpoint-tablet) {
    grid-template-rows: 100px auto 100px;
  }
}

.header {
  display: grid;
  place-items: center;
  background: vars.$color-bg-white;

  @media screen and (min-width: vars.$breakpoint-desktop){
    border-bottom: 1px solid vars.$color-border;
  }
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  border-top: 1px solid vars.$color-border;
  display: grid;
  place-items: center;
}

.content {
  padding-left: vars.$gap-mobile;
  padding-right: vars.$gap-mobile;
}

.cart {
  display: none;
}

.errors {
  display: none;
}
