@use "../../shared/ui/variables.module" as vars;

.wrapper {
	position: relative;
	display: grid;
	min-height: 100vh;
	width: 100%;
	grid-template-rows: 50px auto 50px;
	grid-template-areas:
		"header"
		"main"
		"footer";

	@media screen and (min-width: vars.$breakpoint-tablet) {
		grid-template-rows: 100px auto 100px;
	}
}

.header {
	display: grid;
	place-items: center;
	background: vars.$color-bg-white;
	position: relative;
	z-index: 5;

	@media screen and (min-width: vars.$breakpoint-desktop) {
		border-bottom: 1px solid vars.$color-border;
	}
}

.main {
	grid-area: main;
	display: grid;
	grid-row-gap: 3rem;
	position: relative;
	justify-items: center;
}

.footer {
	grid-area: footer;
	border-top: 1px solid vars.$color-border;
	display: grid;
	place-items: center;
}

.content {
	width: 100%;
	max-width: vars.$max-content-width;
	padding-left: vars.$gap-mobile;
	padding-right: vars.$gap-mobile;
	box-sizing: border-box;

	display: grid;
	grid-row-gap: 3rem;

	@media screen and (min-width: vars.$breakpoint-desktop) {
		padding-left: vars.$gap-desktop;
		padding-right: vars.$gap-desktop;
	}
}
.information {
	width: 100%;
}

.cart {
	display: none;
}

.errors {
	display: none;
}

.loaderWrapper {
	position: absolute; // Changed from fixed to absolute
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 2;
	backdrop-filter: blur(2px);
}
