@use "../../../shared/ui/variables.module" as vars;


.link {
  font-size: 1.5rem;
  font-weight: 500;
  color: vars.$color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  text-align: center;
  margin: 0;
}

.img {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;

  @media screen and (min-width: vars.$breakpoint-tablet){
    max-height: initial;
  }
}