@use "../../shared/ui/variables.module" as vars;

.products {
  padding: 0;
  display: grid;
  list-style: none;
  row-gap: 2rem;
  margin-bottom: 2rem;

  @media screen and (min-width: vars.$breakpoint-tablet) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: vars.$breakpoint-large-desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}
