@use "../variables.module" as vars;

.placeholder {
	// Use a subtle background color for the placeholder area
	background-color: vars.$color-border;
	// Ensure it takes up space before the image loads to prevent layout shift
	width: 100%;
	height: 100%;
	// Hide the overflow in case the image is a different aspect ratio temporarily
	overflow: hidden;
	position: relative;
}

.image {
	// The image starts invisible
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	width: 100%;
	height: 100%;
	object-fit: cover; // Ensures the image covers the placeholder area

	// When the 'loaded' class is added, the image fades in
	&.loaded {
		opacity: 1;
	}
}
