name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm ci

      - name: Lint
        run: |
          npm run lint

      - name: Type Check
        run: |
          npm run type-check

      - name: Tests
        run: |
          npm run test

  deploy:
    runs-on: ubuntu-latest
    needs: [frontend]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy Frontend to Render
        run: |
          curl "$RENDER_DEPLOY_FRONTEND"
        env:
          RENDER_DEPLOY_FRONTEND: ${{ secrets.RENDER_DEPLOY_FRONTEND }}